body {
  margin: 0 auto;
  padding: 0;
  width: 1401px;

}

header {
  width: 100%;
  height: 712px;
  background: url('/img/bg_image.png') 100% 100% no-repeat;
  background-size: cover;
}

.header-navigation {
  background-color: #000000;
}

.container {
  width: 79%;
  margin: 0 auto;
}

.header-navigation_block {
  display: flex;
  height: 71px;
  justify-content: space-between;
}

.header-navigation_logo {
  margin-right: auto;
  padding-top: 21px;
  padding-bottom: 23px;
}

/* navigation-links start */
.header-navigation_links {
  margin: 0;
  padding-left: 0;
}

.header-navigation_links li {
  display: inline-block;
  margin: 29px auto 27px 50px;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  opacity: 0.7;
}

.header-navigation_links li:first-child {
  margin-left: 0;
}

ul li a {
  text-decoration: none;
  color: #FFFFFF;

}

/* navigation-links finish */

/* header-registration start */
.header-registration {
  margin-top: 180px;
}

.header-registration_column {
  display: inline-block;
  margin: 0;
  width: 516px;
  height: 100%;
}

.header-title {
  margin-top: 33px;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: normal;
  height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-registration_line {
  width: 64px;
  height: 2px;
  border: none;
  background-color: #FFFFFF;
  margin-top: 36px;
}

.header-registration_paragraph {
  margin-top: 30px;
  margin-bottom: 59px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.8;
}

/* header-download_link start */
.download_link {
  font-family: 'OpenSans', sans-serif;
  border: 2px solid #FFFFFF;
  font-size: 15px;
  color: #FFFFFF;
  padding: 14px 32px;
  text-decoration: none;
}

.download_link:hover {
  background-color: #FF8C2C;
  color: #333333;
  transition: all 0.1s ease-in-out;
}

/* header-download_link finish */
/* header-registration finish */
.header-registration_form {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 222px;
  width: 360px;
  height: 360px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.registration_head {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #293730;
  background-color: #C4D2CB;
  border: none;
  text-align: center;
  padding: 18px 52px 18px 56px;
  border-radius: 5px 5px 0 0;
}

.registration_input {
  display: inline-block;
  width: 285px;
  height: 31px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-left: 25px;
  padding-right: 25px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

.registration_submit {
  background-color: #FF8B38;
  color: #FFFFFF;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  width: 360px;
  height: 54px;
  text-align: center;
  border: none;
  border-radius: 0 0 5px 5px;
  margin-top: 49px;
}

.registration_submit:hover {
  background-color: #000000;
  color: #FF8B38;
  transition: all 0.1s ease-in-out;
}

.name_label {
  display: block;
  padding-top: 29px;
}

.email_label {
  display: block;
  padding-top: 36px;
}

.psw_label {
  display: block;
  padding-top: 47px;
}

.message_label {
display: inline-block;
  padding-top: 128px;
}
.subject_label{
  display: block;
  padding-top: 47px; 
}
.color-text {
  color: #FF8B38;
}

input {
  outline: none;
}

.social-media {
  border: 1px solid #C4D2CB;
  max-height: 106px;

}

.social-media_column {
  display: inline-block;
  height: 106px;
  width: 360px;

}

.social-media_links {

  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 87px;

}

.column_title {
  font-family: 'OpenSans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 12px;
}

.column-paragraph {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #86878B;
  margin: 0;
  padding-bottom: 22px;
}

.icon-link {
  background-image: url('/img/social_media_icons.png');
  background-repeat: no-repeat;
  height: 43px;
  width: 43px;
  display: inline-block;
  margin-right: 40px;
}

.social-media_icons-links {
  padding-bottom: 45px;
  width: 635px;
}

a.facebook {
  background-position: left top;
}

a.twitter {
  background-position: -88px -2px;
}

a.google {
  background-position: -191px -2px;
}

a.pinterest {
  background-position: -282px -2px;
}

a.instagram {
  background-position: -383px -2px;
}

a.stumbleupon {
  background-position: -484px -2px;
  width: 53px;
}

a.rss {
  background-position: -592px -2px;

}

.tabs-page {
  width: 100%;
  height: 596px;
  padding-top: 156px;
  background: #F5F5F5;
}

.tabs-page_column {
  max-width: 476px;
  display: inline-block;
  margin-right: 90px;
}

.tabs-page_buttons {
  width: 112px;
  display: inline-block;
  margin-right: 99px;
  vertical-align: top;
}

.column-button {
  height: 46px;
  width: 121px;
  color: #FFFFFF;
  background-color: #FF8B38;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  padding: 16px 25px;
}

.column-button:hover {
  background-color: #000000;
  transition: all 0.1s ease-in-out;
}

.tab_button {
  display: block;
  text-transform: uppercase;
  height: 112px;
  width: 112px;
  color: #FFFFFF;
  background-color: #333333;
  font-family: 'OpenSans', sans-serif;
  font-size: 11px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 1px;
}

.tab_button:hover {
  background-color: #FF8B38;
  transition: all 0.1s ease-in-out;
}

.tabs-page_picture {
  background-image: url('/img/tabs_city.png');
  background-repeat: no-repeat;
  height: 253px;
  width: 320px;
  display: inline-block;
  vertical-align: center;
}

.tabs-paragraph {
  margin-top: 52px;
  margin-bottom: 51px;
}

.tabs-title {
  font-family: 'OpenSans', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

/* Block 3 start */
.awesome-options {
  text-align: center;
}

.header_title {
  margin: 0;
  padding: 0;
  padding-top: 107px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: #212121;
}

.awesome-options_header {
  margin: 0 auto;
}

.section_paragraph {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 350px;
  height: 52px;
  color: #86878B;
}

.awesome-options_elips-bulb {
  margin: 0 auto 29px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("/img/bulb.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #FF8C2C;
}

.awesome-options_elips-keyboard {
  margin: 0 auto 29px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("/img/keyboard.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #FF8C2C;
}

.awesome-options_elips-volt {
  margin: 0 auto 29px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url("/img/volt.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #FF8C2C;
}

.awesome-options_section {
  display: inline-block;
  width: 350px;
  height: 197px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 99px;
}

.section_line {
  width: 64px;
  height: 2px;
  border: none;
  background-color: #FF8C2C;
  margin: auto;
  margin-bottom: 30px;
}

.section_title {
  font-family: 'OpenSans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.pricing-section {
  text-align: center;
  background-color: #F5F5F5;
  height: 884px;
}

/* Block 3 finish */
/* Block city start */
.city {
  margin: 0 auto;
  height: 322px;
  text-align: center;
  background-image: url("/img/background_city.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.city_content {
  height: 100%;
  margin-bottom: 50px;
}

.white {
  color: #FFFFFF;
  padding-top: 76px;
}

.white-line {
  background-color: #FFFFFF;
}


/* Block city finish */
/* foter start */
.footer_content {
  background: #000000;
  height: 101px;
  text-align: center;
}

.footer_icon-link {
  background-image: url('/img/footer_navigation_logo.png');
  background-repeat: no-repeat;
  height: 24px;
  width: 22px;
  display: inline-block;
  vertical-align: center;
  margin-right: 15px;
}

.footer-content_links {
  padding-top: 39px;
  text-align: center;
}

a.footer-facebook {
  background-position: left top;
}

a.footer-twitter {
  background-position: -43px 0px;
}

a.footer-google {
  background-position: -92px 1px;
  width: 24px;
}

a.footer-pinterest {
  background-position: -140px -1px;
}

a.footer-instagram {
  background-position: -190px -1px;
}

a.footer-stumbleupon {
  background-position: -242px -1px;
  width: 26px;
}

a.footer-rss {
  background-position: right top;

}

.footer-content_text {
  font-family: 'OpenSans', sans-serif;
  font-size: 9px;
  font-weight: normal;
  color: #FFFFFF;
  opacity: 0.5;
}

.registration_legend {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #86878B;
  text-align: center;
}

/* footer finish */
.contact-button {
  height: 46px;
  width: 148px;
  color: #FFFFFF;
  background-color: #FF8B38;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  padding: 15px 22px;
}

.contact-button:hover {
  background-color: #000000;
  color: #FF8B38;
  transition: all 0.1s ease-in-out;
}

.registration-form {
  text-align: center;
}

.contact-form_content {
  text-align: center;
}
.registration_fields{
  display: inline-block;
}
/* customers-section start */
.customers-section{
  height: 592px;
}
/* custumers-section finish */